@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.btn {
  display: flex; /* flex */
  align-items: center; /* items-center */
  justify-content: center; /* justify-center */
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem; /* px-5 */
  padding-top: 0.5rem; /* pt-5 */
  padding-bottom: 0.5rem; /* pb-5 */
  margin-top: 0.875rem; /* mt-3.5 */
  font-weight: bold; /* font-bold */
  color: white; /* text-white */
  border-radius: 0.75rem; /* rounded-xl */
  background: linear-gradient(to right, #F9423B, #FF8A3D); /* bg-gradient-to-r with custom colors */
  transition: transform 0.2s ease-in-out; /* transition */
}

.btn:active {
  transform: scale(0.95); /* active:scale-95 */
}

.card-shadow {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

@keyframes fadeHighlight {
  0% {
    box-shadow: 0 0 10px 10px rgba(255, 255, 0, 0.7);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 0, 0);
  }
}

.fade-highlight {
  animation: fadeHighlight 3s ease-out;
  border-radius: 8px; /* Makes the edges of the element rounded */
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}

.wiggle {
  animation: wiggle 0.s ease-in-out infinite;
}

@keyframes halo {
  0%, 100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.3), 0 0 1px #FF8A3D;
  }
  50% {
    box-shadow: 0 0 5px #FF8A3D, 0 0 8px #212a26;
  }
}

.halo-effect {
  animation: halo 2s infinite ease-in-out;
  border-radius: 1rem;
}
